<mat-grid-list cols="1" rowHeight="fit">
  <table mat-table [dataSource]="itemsList">
    <ng-container matColumnDef="filename">
      <th mat-header-cell *matHeaderCellDef> Filename </th>
      <td mat-cell *matCellDef="let item"> {{item.filename}} </td>
    </ng-container>

    <ng-container matColumnDef="experiment">
      <th mat-header-cell *matHeaderCellDef> Experiment </th>
      <td mat-cell *matCellDef="let item"> {{item.experiment.name}} </td>
    </ng-container>

    <ng-container matColumnDef="measurement">
      <th mat-header-cell *matHeaderCellDef> Measurement </th>
      <td mat-cell *matCellDef="let item"> {{item.measurement.name}} </td>
    </ng-container>

    <ng-container matColumnDef="variable">
      <th mat-header-cell *matHeaderCellDef> Variable </th>
      <td mat-cell *matCellDef="let item"> {{item.variable}} </td>
    </ng-container>

    <ng-container matColumnDef="created">
      <th mat-header-cell *matHeaderCellDef> Created </th>
      <td mat-cell *matCellDef="let item"> {{item.addition_date | date:'short'}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row class="dataRow" *matRowDef="let clickedItem; columns: columnsToDisplay"
      (click)="redirectToFile(clickedItem)"></tr>
  </table>
</mat-grid-list>

<button mat-fab class="bottom-right-button" aria-label="Add button" (click)="openCreateNewRecord()">
  <mat-icon>add</mat-icon>
</button>
