<mat-card class="parent">
  <mat-card-content class="card-content">
    <mat-tab-group mat-align-tabs="center">
      <mat-tab label="Sign In">
        <form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
          <mat-form-field class="full-width-input-form">
            <input matInput type="email" placeholder="Email" formControlName="email">
          </mat-form-field>
          <mat-form-field class="full-width-input-form">
            <input matInput type="password" placeholder="Password" formControlName="email">
          </mat-form-field>
          <mat-card-actions>
            <!-- TODO: submit button here -->
          </mat-card-actions>
        </form>
      </mat-tab>

      <mat-tab label="Sign Up">
      </mat-tab>

    </mat-tab-group>
  </mat-card-content>
</mat-card>
