h2 {
  text-align: center;
}

mat-card-content {
  height: 100%;
}

mat-tab-group {
  height: 100%;
}

mat-tab {
  height: 100%;
}

form {
  overflow: hidden;
}

mat-form-field {
  width: 100%;
}

button {
  width: 100%;
}

.mat-tab-body-wrapper {
  height: 100%;
}

.parent {
  display: inline-block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 400px;
  height: 300px;
  margin: auto;
}


.card-content {
  margin: 10px 10px 10px 10px;
}
