<form [formGroup]="form" (ngSubmit)="submit(form)">
  <h1 mat-dialog-title>Create new record</h1>
  <mat-dialog-content>
    <mat-form-field>
      <mat-select formControlName="experiment" (selectionChange)="onRequiredFieldChange()" required>
        <mat-option *ngFor="let experiment of experiments" [value]="experiment">
          {{experiment.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-select formControlName="measurement" (selectionChange)="onRequiredFieldChange()" required>
        <mat-option *ngFor="let measurement of measurements" [value]="measurement">
          {{measurement.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input matInput formControlName="variable" placeholder="Variable (optional)">
    </mat-form-field>

    <mat-form-field>
      <input matInput formControlName="xAxis" placeholder="X axis name">
    </mat-form-field>

    <mat-form-field>
      <input matInput formControlName="yAxis" placeholder="Y axis name">
    </mat-form-field>

    <input type="file" formControlName="file" (change)="handleFileInput($event.target.files)" placeholder="Pick a file">

  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button type="submit" [disabled]="submitButtonDisabled">Add</button>
    <button mat-button type="button" mat-dialog-close>Cancel</button>
  </mat-dialog-actions>
</form>
