<mat-grid-list cols="1" rowHeight="fit">
  <table mat-table [dataSource]="itemsList">
    <ng-container matColumnDef="filename">
      <th mat-header-cell *matHeaderCellDef> Filename </th>
      <td mat-cell *matCellDef="let item"> {{item.filename}} </td>
    </ng-container>

    <ng-container matColumnDef="experiment">
      <th mat-header-cell *matHeaderCellDef> Experiment </th>
      <td mat-cell *matCellDef="let item"> {{item.experiment.name}} </td>
    </ng-container>

    <ng-container matColumnDef="measurement">
      <th mat-header-cell *matHeaderCellDef> Measurement </th>
      <td mat-cell *matCellDef="let item"> {{item.measurement.name}} </td>
    </ng-container>

    <ng-container matColumnDef="nuwroversion">
      <th mat-header-cell *matHeaderCellDef> Nuwroversion </th>
      <td mat-cell *matCellDef="let item"> {{item.nuwroversion.name}} </td>
    </ng-container>

    <ng-container matColumnDef="is_3d">
      <th mat-header-cell *matHeaderCellDef> 3D </th>
      <td mat-cell *matCellDef="let item"> {{item.is_3d}} </td>
    </ng-container>

    <ng-container matColumnDef="created">
      <th mat-header-cell *matHeaderCellDef> Created </th>
      <td mat-cell *matCellDef="let item"> {{item.creation_date}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row class="dataRow" *matRowDef="let clickedItem; columns: columnsToDisplay"></tr>
  </table>
</mat-grid-list>

<button mat-fab class="bottom-right-button" aria-label="Add button" (click)="openCreateNewRecord()">
  <mat-icon>add</mat-icon>
</button>
