#main-container {
  height: 100%;
  width: 98%;
}

#Graph {
  display: inline-block;
  width: 80%;
  height: 100%;
}

#Graph .modebar {
  left: 50%;
}

#chart-settings-container {
  display: inline-block;
  vertical-align: top;
  width: 20%;
}

#resultfile-selector-container {
  margin-top: 75px;
}

#resultfile-selector-container > * {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#chart-types-container {
  text-align: center;
}

#chart-types-container > * {
  margin: 10px;
}

mat-divider {
  margin: 5px;
}

mat-icon {
  height: 50px;
  width: 50px
}
