<mat-toolbar>
  <div id="main-nav">
      <button mat-button routerLink="/charts-manager" routerLinkActive="active">Charts</button>
    <button mat-button routerLink="/resultfile-manager" routerLinkActive="active">Resultfiles</button>
    <!--<button mat-button routerLink="/artifact-manager" routerLinkActive="active">Artifacts</button>-->
    <button mat-button routerLink="/experiment-manager" routerLinkActive="active">Experiments</button>
    <button mat-button routerLink="/measurement-manager" routerLinkActive="active">Measurements</button>
    <button mat-button routerLink="/nuwroversion-manager" routerLinkActive="active">Nuwroversions</button>
  </div>
  <div id="sign-in-nav">
    <button mat-button routerLink="/login" *ngIf="!isAuthenticated; else signOutLink" routerLinkActive="active">Sign
      In</button>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>

<ng-template #signOutLink>
  <button mat-button routerLink="/logout" routerLinkActive="active">Sign Out</button>
</ng-template>
